* {
  list-style-type: none;
}

@media only screen and (min-width: 12.5rem) {
  .portraitImage {
    position: relative;
    top: 20px;
    left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .dropdownMenu {
    position: relative;
    top: -310px;
    background: linear-gradient(
      180deg,
      #767370 0%,
      #464646ef 50%,
      #313131c5 96%
    );
    border: 0.03rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 6px 8px;
    width: 8rem;
    z-index: 9;
  }

  .dropdownMenu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 1.2rem;
  }

  h3 span {
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  .dropdownUl {
    padding: 0 0.5rem;
  }
  .dropdownMenu ul li {
    padding: 10px 0;
    border-bottom: 0.01rem solid white;
  }

  .dropdownMenu ul li:hover a {
    color: rgb(252, 252, 252);
    cursor: pointer;
  }

  .dropdownMenu ul li:hover img {
    opacity: 1;
    cursor: pointer;
  }

  .dropdownItem {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0.1rem;
    font-size: 0.8rem;
  }
  .lowerDropdownText {
    color: white;
    font-size: 0.7rem;
  }

  .dropdownItem img {
    max-width: 1.3rem;
    opacity: 0.5;
    transition: all 0.5s ease;
  }

  .dropdownItem a {
    max-width: 100%;
    margin-left: 0.5rem;
    transition: all 0.5s ease;
  }

  .dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.5s ease;
  }

  .dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.5s ease;
  }
  /* abOVE */

  .lowerNavLinksContainer {
    display: grid;
    justify-content: center;
    max-width: 100%;
    width: fit-content;
    z-index: 1000;
    position: relative;
    height: 3rem;
    width: 4rem;
    justify-items: center;
    align-items: center;
  }

  .lowerNavContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 30%;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }
  .openMenuTitle {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
  }
  .openMenuTitle,
  .lowerNavSingleLinkText {
    font-size: 0.8rem;
    text-shadow: 0.1rem 0.5rem 1.5rem rgb(84, 84, 84);
    padding: 0;
    width: fit-content;
    display: grid;
    cursor: pointer;
    transition: all 0.2s ease;
    list-style-type: none;
    text-decoration: none;
    color: white;
  }
  .openMenuTitle:hover,
  .lowerNavSingleLinkText:hover {
    border-bottom: 0.01rem solid white;
    font-size: 0.9rem;
  }
  .lowerMenuTrigger {
    margin-top: 0.4rem;
    display: grid;
    justify-self: center;
    align-content: center;
  }
  .lowerNavSingleLink {
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: relative;
    padding: 0rem;
    margin: 0rem;
  }
}
@media only screen and (min-width: 21.5rem) {
  .lowerNavSingleLinkText {
    font-size: 0.8rem;
  }
  .lowerNavContainer {
    gap: 1rem;
  }
}
@media only screen and (min-width: 34rem) {
  .openMenuTitle,
  .lowerNavSingleLinkText {
    font-size: 1rem;
  }
  .openMenuTitle:hover,
  .lowerNavSingleLinkText:hover {
    font-size: unset;
    scale: 1.1;
  }
  .lowerNavContainer {
    gap: 3rem;
  }
  .lowerMenuTrigger {
    margin-top: 0.2rem;
  }
  .lowerNavLinksContainer {
    height: 3.3rem;
  }
}
