* {
  list-style-type: none;
}
.dropdownLeft {
  display: none;
}

.upperDropdownMenu {
  position: relative;
  top: 40px;
  background: linear-gradient(180deg, #767370 0%, #464646ef 50%, #313131c5 96%);
  border: 0.03rem solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 6px 8px;
  width: 8rem;
  z-index: 9;
}

.upperDropdownMenu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 1.2rem;
}

.upperDropdownUl {
  padding: 0 0.5rem;
}
.upperDropdownMenu ul li {
  padding: 10px 0;
  border-bottom: 0.01rem solid white;
}

.upperDropdownMenu ul li:hover a {
  color: rgb(252, 252, 252);
  cursor: pointer;
}

.upperDropdownMenu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.upperDropdownItem {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0.1rem;
  font-size: 0.8rem;
}
.upperDropdownText {
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  color: white;
  font-size: 0.7rem;
}
.upperDropdownText:hover {
  margin-left: 0.9rem;
}

.upperDropdownItem a {
  max-width: 100%;
  margin-left: 0.5rem;
  transition: all 0.2s ease;
}

.upperDropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.upperDropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-25px);
  transition: all 0.5s ease;
}
/* abOVE */

.upperNavLinksContainer {
  display: grid;
  align-self: center;
  justify-content: center;
  max-width: 100%;
  width: fit-content;
  z-index: 1000;
  position: relative;
  height: 3.5rem;
  width: 5rem;
  justify-items: center;
  /* /* justify-content: center; */

  align-items: center;
}
.upperNavContainer {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 0.3fr 1fr;
  max-width: 50rem;
  padding-bottom: 0.01rem;
  padding: 0 1.7rem;
  border-bottom: 0.01rem solid white;
  margin-bottom: 2rem;
}
.upperOpenMenuTitle {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}
.upperOpenMenuTitle,
.upperNavSingleLinkText,
.upperNavSingleLinkTextCV {
  font-size: 0.9rem;
  text-shadow: 0.1rem 0.1rem 1.43rem black;
  padding: 0.1rem 0.2rem;
  display: grid;
  cursor: pointer;
  transition: all 0.2s ease;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.upperOpenMenuTitle:hover,
.upperNavSingleLinkText:hover {
  border-bottom: 0.01rem solid white;
  font-size: 0.9rem;
}
.menuTrigger {
  margin-top: 0.1rem;
  display: grid;
  justify-self: center;
  align-content: center;
}
.upperNavSingleLink,
.upperNavSingleLinkCV {
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: relative;
  padding: 0rem;
  margin: 0rem;
}

.upperNavItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-self: center;
  padding: 0 1rem;
  max-width: 100%;
  width: 8rem;
}

.upperNavLink {
  display: grid;
  align-self: center;
  justify-content: center;
  border-bottom: 0.01rem solid black;
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
  max-width: 100%;
}

@media only screen and (min-width: 13.5rem) {
  .NavBar .Navigation {
    display: none;
  }

  .NavBar .MobileNavigation {
    display: grid;
    background-color: #767370;
    padding-top: 1rem;
  }
  .NavBar nav ul {
    display: grid;
    position: absolute;
    top: 40px;
    right: 0;
    width: 40%;
    margin: 0 0.2rem;
    background: #293232;
    border: 0.1rem solid rgb(0, 0, 0);
    box-shadow: 0 0 1rem -0.1rem;
    border-radius: 0.25rem;
    z-index: 9;
  }
  .upperDropdownUl {
    margin: 0rem;
    padding: 0.5rem;
  }
  .Hamburger {
    width: 1.3rem;
  }
  .NavBar nav ul li {
    align-items: center;
  }

  .NavBar {
  }

  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;
  }
  .header {
    background: #767370;
  }
  .navbarContainer {
    display: grid;
  }

  .headerTitle {
    text-decoration: none;
  }

  .logo {
    width: 1.5rem;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .mobileLogo {
    width: 1.5rem;
    padding: 0 1rem;
    transition: all 0.3s ease;
  }
  .mobileLogo:hover {
    transform: scale(1.1);
  }
  .navbarItem {
    text-align: center;
    align-self: center;
    margin: 0.6rem 0.3rem;
    transition: all 0.3s ease;
    width: fit-content;
    border-radius: 0.25rem;
  }
  .nav {
    display: contents;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.7rem;
    width: 100%;
    list-style-type: none;
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0rem;
    list-style-type: none;
  }

  .navLink {
    display: block;
    position: relative;
    font-size: 0.5rem;
    color: white;
    text-shadow: 0.12rem 0.12rem 2.5rem;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 0.35rem;
    text-decoration: none;
    width: fit-content;
    transition: all 0.3s ease;
    padding: 0rem 1rem;
  }
  .navLink:hover {
    color: #ed7a0e;
  }
  .navLink:hover {
  }

  .navbarItem:active,
  .navbarItem:hover {
    transform: scale(1.2);
    background-color: #293232;
    transform: scale(1.2);
  }
  .NavBar .Hamburger {
    transition: all 0.2s ease-in-out;
  }
  .NavBar:hover .Hamburger:hover {
    transform: scale(1.4);
  }
}
@media only screen and (min-width: 21.5rem) {
  .mobileLogo {
    width: 1.7rem;
  }
  .Hamburger {
    width: 1.3rem;
  }
  .navLink {
    display: block;
  }
  .NavBar nav ul {
    width: 25%;
  }
}
@media only screen and (min-width: 55rem) {
  .dropdownDown {
    display: none;
  }
  .dropdownLeft {
    display: block;
  }
  .upperDropdownMenu {
    position: relative;
    top: -40px;
    right: 200px;
    background: linear-gradient(
      180deg,
      #767370 0%,
      #464646ef 50%,
      #313131c5 96%
    );
    border: 0.03rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 6px 8px;
    width: 8rem;
    z-index: 9;
  }
  .upperDropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: unset;
    transform: translateX(25px);
    transition: all 0.5s ease;
  }
  .NavBar .MobileNavigation {
    display: none;
  }

  .NavBar .Navigation {
    display: grid;
    border-bottom: 0.07rem solid rgb(80, 80, 80);
  }
  .NavBar nav ul {
    display: grid;
    position: unset;
    top: unset;
    right: unset;
    width: 100%;
    margin: 0rem;
    background: none;
    border: unset;
    box-shadow: unset;
    border-radius: 0;
  }

  .NavBar nav ul li {
    align-items: center;
  }

  .NavBar {
    opacity: none;
  }
  .navbarItem {
    display: grid;
    justify-self: center;
  }
  .navbarItem .logo {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 2rem;
    margin-top: 0rem;
    background: none;
  }
  .navbarItem:hover {
    background-color: unset;
  }

  .logo {
    transition: all 0.3s ease;
  }
  .logo:hover {
    transform: scale(1.2);
  }
  .NavBar {
    background-color: #767370;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 58rem) {
  .navLink {
    padding: 0.2rem 0.5rem;
  }
  .NavBar {
    background-color: #767370;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 80rem) {
  .navLink {
    font-size: 1rem;
  }
}
