@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
}
.container {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  color: black;
  overflow: clip;
  background-color: black;
  width: 100%;
}

.backgroundContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.blackPoly2Container {
  position: relative;
}
.blackPoly {
  position: absolute;
  overflow-x: hidden;
  display: grid;
  justify-content: center;
  max-height: 100%;
  min-width: 100%;
  overflow: visible;
  z-index: -4;
}
.blackPoly2 {
  position: absolute;
  display: grid;
  transform: rotateY(180deg);
  justify-content: center;
  width: 110rem;
  top: 49.57rem;
  overflow: visible;
  z-index: -4;
}
.blackPoly3 {
  position: absolute;
  display: grid;
  justify-content: center;
  width: 110rem;
  top: 99.13rem;
  overflow: visible;
  z-index: -4;
}
.blackPoly4 {
  position: absolute;
  display: grid;
  transform: rotateY(180deg);
  justify-content: center;
  width: 110rem;
  top: 148.65rem;
  overflow: visible;
  z-index: -4;
}
.blackPoly5 {
  position: absolute;
  display: grid;
  justify-content: center;

  width: 110rem;
  top: 198.2rem;
  overflow: visible;
  z-index: -4;
}
