@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

* {
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "Hind", sans-serif;
}

@media only screen and (min-width: 17.5rem) {
  .introText1,
  .introText2 {
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .gridImage,
  .gridImageBoard,
  .gridImageGoat,
  .gridImageGuitar {
    display: grid;
    justify-self: center;
    width: 12rem;
    padding: 1rem 0;
  }
  .mainGrid1,
  .mainGrid2,
  .mainGrid3 {
    display: grid;
    margin: 0.5rem;
  }
  .carousel2Container {
    border-bottom: 0.01rem solid white;
    margin-bottom: 1rem;
  }
  .mainGrid4Heading,
  .projectGridTitle {
    display: grid;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    font-size: 1.8rem;
    border-bottom: 0.01rem solid rgb(246, 244, 244);
    font-family: "Poiret One", cursive;
    padding: 1rem;
    margin-top: 3rem;
    color: white;
  }
  .projectGridTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}
@media only screen and (min-width: 25.5rem) {
  .mainGrid1,
  .mainGrid2,
  .mainGrid3 {
    margin: 1.5rem;
  }
}
@media only screen and (min-width: 35.5rem) {
  .mainGrid1,
  .mainGrid2,
  .mainGrid3 {
    margin: 2.5rem;
  }
}
@media only screen and (min-width: 45.5rem) {
  .mainGrid1,
  .mainGrid2,
  .mainGrid3 {
    margin: 4.5rem;
  }
}
@media only screen and (min-width: 55.5rem) {
  .mainGrid1,
  .mainGrid2,
  .mainGrid3 {
    display: grid;
  }
  @media only screen and (min-width: 65.5rem) {
    .mainGrid1,
    .mainGrid2,
    .mainGrid3 {
      display: unset;
      display: none;
    }
  }
}
/* RESIZING SLIDER */
@media only screen and (min-width: 34rem) {
  .gridImageBoard {
    max-width: 17rem;
    rotate: 0 1 0 180deg;
  }
  .mainGrid {
    display: unset;
  }
}

@media only screen and (min-width: 65.5rem) {
  .carousel2Container {
    border-bottom: unset;
  }
}
