@media only screen and (min-width: 12rem) {
  .footerContainer {
    border: 0.1rem solid black;
    display: grid;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    background: rgb(0, 0, 0);
  }

  .footerText,
  .footerTextEmail,
  .footerTextCopyright {
    font-size: 0.8rem;
    margin: 0.7rem 0;
    color: white;
    text-shadow: 0.12rem 0.12rem 2rem;
  }
  .footerTextEmail {
    color: rgb(139, 139, 139);
  }
  .footerTextCopyright {
    color: rgb(72, 137, 249);
  }
  .footerNameTitle {
    font-size: 1rem;
  }
  .footerName {
  }
  .arrowSectionHolder8 {
    display: none;
  }

  .footerHanger {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 21.5rem) {
  .footerContainer {
    padding: 0.5rem 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
  }
  .footerText,
  .footerTextEmail,
  .footerTextCopyright {
    font-size: 0.9rem;
  }
  .footerNameTitle {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 48rem) {
  .footerContainer {
    border: 0.1rem solid black;
    display: grid;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    padding-left: 3rem;
    padding-top: 2rem;
    background: rgba(0, 0, 0, 1);
  }

  .footerText,
  .footerTextEmail {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: white;
    text-shadow: 0.1rem 0.5rem 1.5rem rgb(84, 84, 84);
  }
  .footerTextEmail {
    color: rgb(139, 139, 139);
  }
  .footerTextCopyright {
    color: rgb(72, 137, 249);
  }
  .footerNameTitle {
    font-size: 2.5rem;
  }
  .footerName {
  }
}

@media only screen and (min-width: 65.5rem) {
  .arrowSectionHolder8 {
    display: grid;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  .sectionArrow {
    cursor: pointer;
    display: grid;
    color: rgb(246, 246, 246);
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.01rem solid white;
    transition: all 0.5s ease;
  }
}
